
div.panel-display div.panel-pane-collapsible h2.title {
  background-image: url(../../../../misc/menu-expanded.png);
  background-position: 0 center;
  background-repeat: no-repeat;
  padding-left: 12px;
  cursor: pointer;
}
div.panel-display div.panel-pane-collapsible h2.title.collapsed {
  background-image: url(../../../../misc/menu-collapsed.png);
}
div.panel-display div.panel-pane-collapsible h2.title:hover {
  color: #00f;
}